.logoVenados{
    width: 200px;
}


.ant-tabs-tab-btn {
    width: 50vw;
    color: rgb(1, 153, 1)
}


.ant-tabs-tab {
    margin: 0;
    border: black;
    border-style: solid;
    border-width: 2px;
    
}

.ant-tabs-tab .ant-tabs-tab-active{
    color: rgb(1, 153, 1)
}

.ant-tabs-ink-bar {
    background: rgb(1, 153, 1)

}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: rgb(1, 153, 1)

}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn :hover{
    color: rgb(1, 153, 1)

}

.individualInfo{
    margin:5%;
    -webkit-box-shadow: 7px 10px 31px -14px rgba(44,166,3,0.48);
    -moz-box-shadow: 7px 10px 31px -14px rgba(44,166,3,0.48);
    box-shadow: 7px 10px 31px -14px rgba(44,166,3,0.48);
    border-radius: 1rem;
}

.pullRefresh{
    height: 48vh;
    overflow-y: scroll;
    text-align: center;
}

.gridContent{
    display: grid;
    align-items: center;
    grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));

}

@media screen and (max-width: 400px) {

.pullRefresh{
    height: 38vh;
    overflow-y: scroll;
    text-align: center;
}
    
}