.layout{
  min-height: 100vh 
}

.contentLayout{
  padding: 0 0;
  background-color:white
}

.footerLayout{
  text-align: center;
  background-color:rgb(1, 153, 1) !important ;
  color: white !important;
  height: 50px;
  padding: 1% !important;
}
