
.contentLayout{
  padding: 0 0;
  background-color:white;
}

.footerLayout{
  text-align: center;
  background-color:black !important ;
  color: white !important;
  height: 50px;
  padding: 1% !important;
}
